/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.task-item h5 {
  position: relative;
}

.task-item h5 .edit-button,
.task-item h5 .delete-button {
  display: none;

  right: 0;
}

.task-item h5 .edit-button {
  top: 0;
}

.task-item h5 .delete-button {
  bottom: 0;
}

.task-item h5:hover .edit-button,
.task-item h5:hover .delete-button {
  display: flex;
}
